body{
    background: #f2f2f2;
}

.bg-light{
    background: #00035E;
}

.navbar{
   height: 70px;

}
.form-control{
    border: 0;
    position: absolute;
    border-radius: 10px;
    width: 300px;
    
 
    
}

.form-inline{
    position: absolute;
    left: 50%;
    background-color: #5C5EB5;
    border-radius: 10px;
    width: 300px;
  
}

#place::placeholder{
    color:white;

   
}

.fa-noti{
    position: absolute;
    left: 66.6%;
}

.fa-comen{
    position: absolute;
    left: 63%;
}

.fa-us{
    position: absolute;
    left: 70%;
}

.nam-user{
    position: absolute;
    left: 72%;
    top: 30%
}

.navbar{
    width: 100vw;
}

.colap{
    position: absolute;
    left: 90%;
}

.table{
   position: absolute;
   width: 80%;
   left: 10%;
   top: 20%;
    
}